{% extends 'base.html' %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block content %}
  <h2 class="mb-3">Update your interests</h2>
  <form method="post" novalidate>

    <div class="container">
      <div class="row">
          <div class="col-sm-6 col-lg-4 mb-3">
              <div class="card mb-3 h-100">
                  <div class="card-body">
                    <a href='/students'>
                      <img class="card-img-top" src="{% static 'img/math2.jpg'  %}" alt="">
                      <h5 class="card-title">Math</h5>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-3">
              <div class="card mb-3 h-100">
                  <div class="card-body">
                    <a href='/students'>
                      <img class="card-img-top" src="{% static 'img/history1.jpg'  %}" alt="">
                      <h5 class="card-title">History</h5>
                    </a>
                      
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-3">
              <div class="card mb-3 h-100">
                  <div class="card-body">
                    <a href='/students'>
                      
                      <img class="card-img-top" src="{% static 'img/geography1.jpg'  %}" alt="">
                      <h5 class="card-title">Geography</h5>
                    </a>
                      
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-3">
            <div class="card mb-3 h-100">
                <div class="card-body">
                  <a href='/students'>
                    
                    <img class="card-img-top" src="{% static 'img/literature.jpg'  %}" alt="">
                    <h5 class="card-title">Literature</h5>
                  </a>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3">
          <div class="card mb-3 h-100">
              <div class="card-body">
                <a href='/students'>
                  
                  <img class="card-img-top" src="{% static 'img/chemistry.jpg'  %}" alt="">
                  <h5 class="card-title">Chemistry</h5>
                </a>
                  
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <div class="card mb-3 h-100">
            <div class="card-body">
              <a href='/students'>
                
                <img class="card-img-top" src="{% static 'img/physics1.jpg'  %}" alt="">
                <h5 class="card-title">Physics</h5>
                </a>
               
            </div>
        </div>
       </div>
    </div>
  </div>
    {% csrf_token %}
    {{ form|crispy }}   
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'students:quiz_list' %}" class="btn btn-outline-secondary">Nevermind</a>   
  </form> 
 {% endblock %} 
